<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
    <appSettings>
        <add key="SqlServerNative" value="Data Source=vcsnet.co.il; Initial Catalog=sqlom; User ID=sa; Password=pwd"/>
        <add key="SqlServerOLEDB" value="Provider=SQLOLEDB;Data Source=vcsnet.co.il; Initial Catalog=sqlom; User ID=sa; Password=pwd"/>
        <add key="MySql" value="Data Source=vcsnet.co.il; Database=sqlom; User Id=root; Password="/>
        <add key="OracleODP" value="Data Source=sqlom.vcsnet.co.il; User Id=oleg; Password=abcd"/>
        <add key="OracleOLEDB" value="Provider=OraOLEDB.Oracle;Data Source=sqlom.vcsnet.co.il; User Id=oleg; Password=abcd"/>
    </appSettings>
</configuration>
